<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>交易管理</title>
		<meta name="viewport" content="width=device-width,initia l-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/reset.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../fonts/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.poppicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
		<link rel="stylesheet" href="http://at.alicdn.com/t/font_1804860_9d02kit2igr.css" />
		<style type="text/css">
			.font-lighter {
				font-size: 16px;
				color: #666;
			}

			.mui-icon-arrowright {
				color: #999;
			}

			.mui-scroll-wrapper {
				top: 20px
			}
			
			[data-id=picker-y] {
				display: none;
			}
			
			[data-id=title-y] {
				display: none !important;
			}
			
			[data-id=picker-m] {
				display: none;
			}
			
			[data-id=title-m] {
				display: none !important;
			}
			
			[data-id=picker-d] {
				display: none;
			}
			
			[data-id=title-d] {
				display: none !important;
			}
			
			[data-id=picker-i] {
				display: none;
			}
			
			[data-id=title-i] {
				display: none !important;
			}
			
			[data-id=picker-h] {
				width: 100% !important;
			}
			
			[data-id=title-h] {
				width: 100% !important;
			}
			/*.mui-pull-top-pocket{top: 20px;}*/
		</style>
	</head>
	<body>
		<div id="app">
			<header class="mui-bar mui-bar-nav">
				<span class="index-left">
					<a class="mui-action-back mui-icon mui-icon-closeempty"></a>
				</span>
				<h1 class="mui-title">消息设置</h1>
			</header>

			<div class="pad-top-50 sxactive" id="app">
				
				<div class="approve-sx approve-sx-time">
					<div class="busDetailTitle">消息提醒</div>
					<div style="justify-content: space-between;" class="flexwrap">
						<span>是否开启消息提醒</span>
						<div class="mui-switch mui-switch-mini mui-switch-blue" id="mySwitch">
							<div class="mui-switch-handle"></div>
						</div>
					</div>
					
				</div>
				
				<div class="approve-sx approve-sx-state"  v-show="status==1">
					<div class="busDetailTitle">推送类型</div>
					<div class="buttonWrap noticeWrap">
						<button type="button" id="noticeAll" @tap="setNoticeActiveAll('noticeAll',0)" class="mui-btn mui-btn-primary mui-btn-outlined">全部</button>
						<button type="button" id="notice4" @tap="setNoticeActive('notice4',4)" class="mui-btn mui-btn-primary mui-btn-outlined">商机消息</button>
						<button type="button" id="notice2" @tap="setNoticeActive('notice2',2)" class="mui-btn mui-btn-primary mui-btn-outlined">订单消息</button>
						<button type="button" id="notice5" @tap="setNoticeActive('notice5',5)" class="mui-btn mui-btn-primary mui-btn-outlined">入库通知</button>
						<button type="button" id="notice6" @tap="setNoticeActive('notice6',6)" class="mui-btn mui-btn-primary mui-btn-outlined">系统通知</button>
						<button type="button" id="notice7" @tap="setNoticeActive('notice7',7)" class="mui-btn mui-btn-primary mui-btn-outlined">小筑客服</button>
						<button type="button" id="notice9" @tap="setNoticeActive('notice9',9)" class="mui-btn mui-btn-primary mui-btn-outlined">合同消息</button>
					</div>
				</div>
				<div class="approve-sx approve-sx-time"  v-show="status==1">
					<div class="busDetailTitle">推送时间</div>
					<div>
						<button type="button" id="timeStart" class="mui-btn mui-btn-primary mui-btn-outlined"><span v-if="msgBegintime==''||msgBegintime==null||typeof(msgBegintime)=='undefined'">开始时间</span>{{msgBegintime}}</button>
						<button type="button" id="timeEnd" class="mui-btn mui-btn-primary mui-btn-outlined"><span v-if="msgEndtime==''||msgEndtime==null||typeof(msgEndtime)=='undefined'">结束时间</span>{{msgEndtime}}</button>
					</div>
					<div class="redcolor" style="margin-top: 20px;"><span>推送时间设置后将按照您所设置的时间为您进行消息提醒。</span></div>
				</div>


			</div>
			<div class="approveBottomWait">
				<div class="fixedWhiteBlue" @tap="reset">重置</div>
				<div class="approveAgree" id="confirm" @tap="confirm">确定</div>
			</div>
		</div>
		<!--合同列表部分 end-->
		<script src="../js/mui.min.js"></script>
		<script src="../js/jquery-1.7.2.min.js"></script>
		<script src="../js/all.js"></script>
		<script src="../js/mui.picker.min.js"></script>
		<script src="../js/mui.poppicker.js"></script>
		<script src="../js/city.data-3.js"></script>
		<script src="../js/vue.min.js"></script>
		<script>
			mui.init({
				gestureConfig: {
					tap: true, //默认为false
					longtap: true
				},
			});
			
			Array.prototype.indexOf = function(val) { 
			for (var i = 0; i < this.length; i++) { 
			if (this[i] == val) return i;
			} 
			return -1; 
			};
			Array.prototype.remove = function(val) {
				console.log(val);
				var index = this.indexOf(val);
				if (index > -1) {
					this.splice(index, 1);
				}
			};
			
			var vm = new Vue({
				el: '#app',
				data() {
					return {
						loginUser: '',
						noticeList: [],
						noticeStr: '',
						status: '',
						msgBegintime: '',
						msgEndtime: ''
					}
				},
				watch: {
					'noticeList': function() {
						if(this.noticeList.length==6){
							$('#noticeAll').addClass('active');
							this.noticeList = [0];
						}
					}
				},
				methods: {
					setNoticeActive(elem, ids) {
						let el = "#" + elem;
						let id = ids;
						if ($(el).attr('class').indexOf('active') == -1) {
							$(el).addClass('active');
							this.noticeList.push(id);
							console.log(this.noticeList);
						} else {
							if ($('#noticeAll').attr('class').indexOf('active') != -1) {
								$("#noticeAll").removeClass('active');
								this.noticeList = [2, 4, 5, 6, 7, 9];
							}
							$(el).removeClass('active');
							this.noticeList.remove(id);
							console.log(this.noticeList);
						}
					},
					setNoticeActiveAll(elem, ids) {
						let el = "#" + elem;
						let id = ids;
						if ($(el).attr('class').indexOf('active') == -1) {
							$('.noticeWrap button').addClass('active');
							this.noticeList = [0];
							console.log(this.noticeList);
						} else {
							$('.noticeWrap button').removeClass('active');
							this.noticeList = [];
							console.log(this.noticeList);
						}
					},
					getUserSet(){
						$.ajax({
											url: zfyurl+"/app/api/userSet/findUserSet",
											type: 'POST',
											data: {
												type: 1,
												identify: 2,
												userId: localStorage.getItem('userId')
											},
											dataType: 'jsonp',
											success: res=>{
												if(res.code=='M000000'){
													this.noticeStr = res.data.msgInfo;
													if(this.noticeStr.length!=0){
														this.noticeList = this.noticeStr.split(',');
													}else{
														this.noticeList = []
													}
													console.log(this.noticeList)
													this.msgBegintime = res.data.msgBegintime;
													this.msgEndtime = res.data.msgEndtime;
													this.status = res.data.status;
													if(this.status==1){
														$('#mySwitch').addClass('mui-active');
													}else{
														$('#mySwitch').removeClass('mui-active');
													}
													for(let i = 0; i<this.noticeList.length; i++){
														if(this.noticeList[i]==0){
															$('.noticeWrap button').addClass('active');
														}else{
															$(`#notice${this.noticeList[i]}`).addClass('active');
														}
														
													}
												}
												if(res.code=='E000000'){
													mui.alert(res.info)
												}
											}
									})
					},
					confirm() {
						this.noticeStr = this.noticeList.toString();
						statis('2', 'notice-set.html', '修改了消息设置')
						$.ajax({
											url: zfyurl+"/app/api/userSet/saveUserSet",
											type: 'POST',
											data: {
												type: 1,
												identify: 2,
												userId: localStorage.getItem('userId'),
												comId: this.loginUser.comId,
												msgInfo: this.noticeStr,
												status: this.status,
												msgBegintime: this.msgBegintime,
												msgEndtime: this.msgEndtime
												
											},
											dataType: 'jsonp',
											success: res=>{
												if(res.code=='M000000'){
													console.log(res.data)
												}
												if(res.code=='E000000'){
													mui.alert(res.info)
												}
											}
									})
						mui.plusReady(function() {
							
							mui.back()
						})
					},
					reset(){
						this.noticeList = [];
						this.status = '';
						this.msgBegintime = '';
						this.msgEndtime = '';
						$('.noticeWrap button').removeClass('active');
						$('#mySwitch').removeClass('mui-active');
					}
				},
				created() {
					statis('1', 'notice-set.html', '进入消息设置');
					this.getUserSet();
					this.loginUser = JSON.parse(localStorage.getItem('loginUser'));
				}
			})


			document.getElementById("mySwitch").addEventListener("toggle", function(event) {
				if (event.detail.isActive) {
					console.log("你启动了开关");
					vm.status = 1;
				} else {
					console.log("你关闭了开关");
					vm.status = 2;
				}
			})

			var dtPicker = new mui.DtPicker({
				type: 'datetime'
			});
			var timeStart = document.getElementById('timeStart');
			timeStart.addEventListener("tap", function() {
				dtPicker.show(function(selectItems) {
					console.log('开始时间', selectItems.h.text);
					/* vm.beginDate = `${selectItems.y.value}-${selectItems.m.value}-${selectItems.d.value} ${selectItems.h.value}:${selectItems.m.value}:00`; */
					
					vm.msgBegintime = `${selectItems.h.value}`;
				})
			})
			
			var timeEnd = document.getElementById('timeEnd');
			timeEnd.addEventListener("tap", function() {
				dtPicker.show(function(selectItems) {
					console.log('截止时间', selectItems.h.text);
					/* vm.endDate = `${selectItems.y.value}-${selectItems.m.value}-${selectItems.d.value} ${selectItems.h.value}:${selectItems.m.value}:00`; */
						 vm.msgEndtime = `${selectItems.h.value}`;
				})
			})
		</script>
	</body>

</html>
